<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    id="my-custom-bis-plugin" 
    version="0.0.2"
>

    <name>My Custom XDK Plugin</name>
    <description>Add info to iOS plist file.</description>
    <license>BSD-3</license>

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="CFBundleLocalizations">    
            <array>
			 <string>de</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
		  <false/>
        </config-file>
    </platform>

</plugin>
